.container {
  text-align: center;
}

button {
  width: 100%;
}

.vote-count {
  padding-top: 50px;
}

table {
  display: none;
}

table thead tr th{
  text-align: center;
}

table td {
  border: 1px solid #ccc;
}
